*{
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.admin{
    display: flex;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-top: 1px;
    background: white;
}

.nav-logo{
    width: 200px;
}
.nav-profile{
    width: 75px;
}


.footer-logo {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-top: 20px;
    margin-left: 500px;
}

.footer-logo img {
    height: 60px; /* adjust the height as needed */
    margin-right: 10px;
}

.footer-logo p {
    margin: 0;
    color:black;
    font-size: 46px;
    font-weight: 700;
}


.add-product{
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background: white;
}
.addproduct-itemfield{
    width: 100%;
    color: #7b7b7b;
    font-size: 16px;   
}

.addproduct-itemfield input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-size: 14px;
}

.addproduct-price{
    display: flex;
    gap: 40px;
}

.add-product-selector{
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #7b7b7b;
    border: 1px solid #7b7b7b;
    border-radius: 4px;
}

.addproduct-thumnail-img{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    object-fit: contain;
    margin: 10px 0px; 
}

.addproduct-btn{
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: black;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
}